* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p{
    font-size: 13px;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: #000000;
    color: white;
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px; 
    margin-right: 0px;
}

.logo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header span{
    padding-top: 10px;

}

.search_container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search_container input {
    padding: 5px;
    border: none;
    border-radius: 12px;
    width: 250px;
}

.search_container button {
    padding: 3px 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    height: 25px;
    padding-bottom: 5px;
}

.search_container button img{
    height: 20px;
}

.nav_links {
    position: relative;
}

.nav_links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    display: block;
}

/*Hamburger Mobile*/

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 1100;
}

/*Drop down list consoles & peripherals*/

.dropdown {
  position: relative;
  display: inline-block;
  transition: 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 5px 0;
  text-decoration: none;
  display: block;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: contents;
}

@media (max-width: 768px) {
    header h1{
        font-size: 20px;
    }

    header {
       position: relative;
       
    }

    .nav_list {
        width: fit-content;
    }

    .nav_links ul {
        display: none;
        z-index: 999;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: -5px;
        background-color: #000000;
        width: 100%;
        text-align: center;
        
    }

    .nav_links ul.active {
        display: flex;
        justify-content: center;
        width: fit-content;
        height: auto;
        border-radius: 5px;
        padding-left: 50%;
        padding-right: 5px;
    }

    .hamburger {
       
        display: block;
        z-index: 999;
    }

    .search_container {
        display: contents;
        width: auto;
    }

    .search_container input {
        width: 180px;
    }

    .logo h1 {
        display: none;
    }
}

/*IPAD Screen*/
@media (max-width: 1220px) {
    header {
        position: relative;
        
     }
 
     .nav_list {
         width: fit-content;
     }
 

    .nav_links ul {
        display: none;
        z-index: 999;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: -5px;
        background-color: #000000;
        width: 100%;
        text-align: center;
        
    }

    .nav_links ul.active {
        display: flex;
        justify-content: center;
        width: fit-content;
        height: auto;
        border-radius: 5px;
        padding-left: 50%;
        padding-right: 5px;
    }

    .hamburger {
       
        display: block;
        z-index: 999;
    }
}

/*MAIN Home*/
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
    height: auto;
    background-color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    scroll-behavior: smooth;
}


h1, h2 {
    margin-bottom: 10px;
}

.explore_now {
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s ease;
}

.explore_now:hover {
    background-color: white;
    color: black;
}

.explore_now a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition: 0.3s ease;
}

.explore_now a:hover {
    color: black;
    background-color: white;
}

.home_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
    
}

.intro_section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.info_section ul,ol {
    text-align: center;
    list-style-position: inside;
}

.info_section li {
    text-indent: 0;
    margin: 3px 0;
    font-size: 13px;
}

.intro_container {
    position: relative;
    width: 100%;
    height: 500px; 
    overflow: hidden; /* Hide overflow */
    border-radius: 6px;
    text-align: center;
}

.intro_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* Left half of the slide */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    p{
        font-size: 11px;
    }

    .intro_overlay img {
        height: 45px;
    }

    .intro_container {
        height: 250px;
        width: 100%;
    }

    .intro_overlay {
        width: 50%;
        padding: 5px;
    }

    
    .intro_section h2 {
        font-size: 1.5em; /*heading size for mobile */
    }

    .intro_section p {
        font-size: 11px; /*paragraph size for mobile */
    }

    .info_section li {
        font-size: 11px;
    }
}

/*Information Section*/

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #191919;
    border-radius: 5px;
    padding: 10px 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /*Mobile Side Scrolling*/
}

.info_section {
    flex: 1; /* Equal space for each section */
    margin: 10px 10px;
    text-align: center; 
    scroll-snap-align: center;
}

.info_section img {
    transition: all 0.3s ease;
}

.info_section img:hover {
    transform: scale(1.05); /* Slightly enlarge the image */
}

.home_section {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    #info {
        display: flex;
        overflow-x: auto; /*Mobile Side Scrolling*/
        flex-wrap: nowrap;
    }

    .info_section {
        flex: 0 0 90%;
        margin: 10px 10px;
    }

}

/*FOOTER*/

footer {
    color: white;
    height: auto;
    background-color: #000000;
    padding: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
  }

.footer_section .logo {
    display: flex;
    justify-content: center;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials {
    height: 20px;
    width: 20px;
}

footer h3{
    color: rgb(255, 255, 255);
}

.contact_footer {
    height: 20px;
    width: 20px;
}

.footer_container{
    display: flex;
    justify-content: center;
    text-align:center;
    width: 100%; 
    flex-wrap: wrap;
    padding-top:20px;
    gap: 30px;
}

.footer_section{
    width: 250px; 
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

.footer li{
    list-style: none;
    padding-left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.footer li a{
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

ul li a:hover{
    color: rgb(202, 212, 214);
}

.copyright{
    text-align: center;
}

.payment_method {
    width: 300px;
}
